My news_Agent.json
{
  "name": "My news_Agent",
  "nodes": [
    {
      "parameters": {
        "url": "https://newsapi.org/v2/top-headlines?category=technology&apiKey=",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -100,
        100
      ],
      "id": "58824ad8-7b27-446a-94fa-ed384b720d7b",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const articles = $json.articles || [];\n\nlet summaryPrompt = \"Summarize the following news headlines:\\n\";\n\nfor (let i = 0; i < Math.min(articles.length, 5); i++) {\n  summaryPrompt += `- ${articles[i].title} - ${articles[i].source.name}\\n`;\n}\n\nreturn [{\n  json: {\n    summaryPrompt\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        -40
      ],
      "id": "20bbbabc-8b8e-475b-9cd6-53e8fef76a0d",
      "name": "Code"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-pro:generateContent?key=AIzaSyDab-L0S6KeSjrZIlr3-Q9RYgvO1mI527c",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"{{ $json.summaryPrompt }}\"\n        }\n      ]\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        -40
      ],
      "id": "edf7ea31-1c9f-4a75-bdf5-44850d8fa583",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "fromEmail": "thebasantaadhikari@gmail.com",
        "toEmail": "ailurus2005@gmail.com",
        "subject": "Updates",
        "html": "=[{ $json.choices[0].text }]",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        720,
        -80
      ],
      "id": "a924859c-a0b2-4907-a2ce-df56f16c3716",
      "name": "Send email",
      "webhookId": "64383b50-f7e9-460c-b2e4-0fd93eb1f961",
      "credentials": {
        "smtp": {
          "id": "KZX9nPHT3QojckN9",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -280,
        -120
      ],
      "id": "c3195caa-754c-45ae-92c6-54dac7acc3a9",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        360,
        240
      ],
      "id": "74e2be82-7d4a-40b4-80db-da69bf1cca79",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        240,
        400
      ],
      "id": "ca3673fe-e4dc-4593-872e-d7d1b823b8c6",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "tqjrIy7mRF3ocSjD",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        400,
        460
      ],
      "id": "97813a43-726b-47ad-8f87-bcda8fb9cfcc",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "formId": "wR62tjG5"
      },
      "type": "n8n-nodes-base.typeformTrigger",
      "typeVersion": 1.1,
      "position": [
        -480,
        100
      ],
      "id": "f7dd87e7-62e8-4c5e-9f3c-66b6582f5454",
      "name": "Typeform Trigger",
      "webhookId": "fa3e16a7-6a62-40c3-984a-4d6ce9efd908",
      "credentials": {
        "typeformApi": {
          "id": "jI7KCPzdiTp7BYcv",
          "name": "Typeform account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d4e0f7ea-7a4d-4434-9e90-ab0b37ffb843",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1040,
        -200
      ],
      "id": "ae0c5f3b-87e5-44de-909a-8efe289fe483",
      "name": "Webhook",
      "webhookId": "d4e0f7ea-7a4d-4434-9e90-ab0b37ffb843"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        540,
        460
      ],
      "id": "1a01c140-eeab-474a-9dbf-6bb1156b6f17",
      "name": "Think"
    },
    {
      "parameters": {
        "text": "={{ $json.candidates[0].content.parts[0].text }}\n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        820,
        100
      ],
      "id": "908f09f9-9d92-4710-b1d5-70c78f9b5745",
      "name": "Create Tweet"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        []
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Tweet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Typeform Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        []
      ]
    },
    "Send email": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7094eab6-a807-44e7-af72-2f946da35215",
  "meta": {
    "templateId": "self-building-ai-agent",
    "templateCredsSetupCompleted": true,
    "instanceId": "a4751751ac8d8629beb4599f66c544c013d764e70aca160f224959859b48ca93"
  },
  "id": "Lk4EaYEuOPN2zSSk",
  "tags": []
}
